body
{background-color: pink}

h1 {background-color: #d9c3c6;color: black;}

main {border: hidden; padding: 20px}


div { background-color: white;
margin: auto; width: 1325px;
padding: 25px
}

.subheader {color: #289DC9;}

.header {background-color: #f6dfe2; }

.text {color: #c55781;}

.division {border-style: outset; border-width: 0.1px;}

img {
  height: 150px; width: 230px;
    border: 2px solid #ff0000;
    background-color: #0000ff; }

#newimage {
  height: 350px; width: 300px;
    border: 0px }


    #appimg {height: 460px; width: 300px;
    background-color: white;
  border-color: white}


    #div2 { border: hidden; padding-right: 250px; padding-left: 250px
     }


#bod {border: dashed}


    nav li {
       border: 1px solid #000000;
       padding: 10px;
       margin: 10px;
       width: 150px;
       background-color: #289DC9;
       color: #ffffff;
       opacity: 0.8
    }

   nav li a {
       color: ##4b004b;
    }
    nav {border: hidden; padding: 5px}


    ul#menu li {
      display:inline;
    }



    a:hover {
       color: #1fe5b6;
    }


  h2:hover {color: #a291ab}
